<div class="container-courses">
     <div class="sidebar-left ">
      <button class="btn-leftbar-main"><a id="home-js" class="id-page-js"  href="/"><img src="http://localhost:3000/img/home.png"class="icon-home">Home</a></button>
      <button class="btn-leftbar-main"><a id="courses-js"class="id-page-js"  href="courses"><img src="http://localhost:3000/img/study.png"class="icon-learn">Courses</a></button>
      <button class="btn-leftbar-main"><a id="news-js"class="id-page-js"  href="news"><img src="http://localhost:3000/img/news.png"class="icon-news">News</a></button>
      <button class="btn-leftbar-main"><a id="about-js"class="id-page-js"  href="about"><img src="http://localhost:3000/img/information.png"class="icon-about">About</a></button>
    </div>

    <div class="header-container-courses">
        <div class="img-header-courses-1">
            <img src="http://localhost:3000/img/courses-1.jpg" alt="" >
            <div class="bg-color-white-50">
                <p>Learn English no problem</p>
            </div>
            
        </div>

        <div class="img-header-courses-2">
            <div class="img-header-courses-21">
            <img src="http://localhost:3000/img/courses-2.jpg" alt="">
            <div class="bg-color-white-50">
                 <p>Learn English no problem</p>
            </div>
           
            </div>
            <div class="img-header-courses-22">
            <img src="http://localhost:3000/img/courses-3.jpg" alt="">
            <div class="bg-color-white-50">
                <p>Learn English no problem</p>
            </div>
            
            </div>
        </div>
    </div>
      
     <div class="suggestion-courses mgl-132">
       
        <div class="item-suggestion-courses">
            <div class="bg-item-suggestion bg-color-blue">
                 <p class="icon-item-suggestion">CT</p>
            </div>
            <div>
                <p class="name-item-suggestion">Speaking with Jane</p>
                <p class="title-item-suggestion">IELTS</p>
            </div>
        </div>

         <div class="item-suggestion-courses">
            <div class="bg-item-suggestion bg-color-origin">
                 <p class="icon-item-suggestion">HL</p>
            </div>
            <div>
                <p class="name-item-suggestion">Speaking with Mai</p>
                <p class="title-item-suggestion">Toeic</p>
            </div>
        </div>

         <div class="item-suggestion-courses">
            <div class="bg-item-suggestion bg-color-violet">
                 <p class="icon-item-suggestion">MH</p>
            </div>
            <div>
                <p class="name-item-suggestion">Speaking with Zhui</p>
                <p class="title-item-suggestion">Toeic</p>
            </div>
        </div>

    </div>

    {{!-- Courese-news courses --}}

<div class="course-home new-course-home  course-courses mgl-132">
  <div class="header-course-home header-new-course-home">
   <p class="name-course-home name-new-course-home">New Course</p>
  </div>
  <div class="row">
      {{#each coursesnew}}
        {{!-- {{#if this.study}} --}}
      <div class="col-sm-6 col-lg-4">
        <div class="layout-course layout-new-course mg-courses">
        <div class="item-course {{this.color}}">
            <div class="icon-course"></div>
            <i class="{{this.icon}} icon-course-left"></i>
            <p class="content-course"> {{this.titile}}</p>
            <p class="link-course">www.ailearnenglish</p>
        </div>
        <p class="footer-course">{{this.name}}</p>
        </div>
      </div>
        {{!-- {{/if}} --}}
      {{/each}}
      {{!-- <div class="col-sm-6 col-lg-4">
            <div class="layout-course layout-new-course mg-courses">
        <div class="item-course bg-color-pink">
            <div class="icon-course"></div>
            <i class="fas fa-dice-d20 icon-course-left"></i>
            <p class="content-course"> Speak with topic</p>
            <p class="link-course">www.ailearnenglish</p>
        </div>
        <p class="footer-course">Speaking with topic</p>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4">
            <div class="layout-course layout-new-course mg-courses">
        <div class="item-course bg-color-blue">
            <div class="icon-course"></div>
            <i class="fab fa-jedi-order icon-course-left"></i>
            <p class="content-course"> Speak with topic</p>
            <p class="link-course">www.ailearnenglish</p>
        </div>
        <p class="footer-course">Speaking with topic</p>
        </div>
      </div> --}}
  </div>
  
  </div>

  {{!-- End courses --}}

  {{!-- Toeic course --}}

<div class="course-home new-course-home  course-courses mgl-132">
  <div class="header-course-home header-new-course-home">
   <p class="name-course-home name-new-course-home">Toiec Course</p>
  </div>
  <div class="row">
      {{#each courses as | course Idcourse|}}
     
        {{#iffArray course.type "toiec"}}
      <div class="col-sm-6 col-lg-4">
        <div class="layout-course layout-new-course mg-courses">
        <a href="/courses/{{course._id}}/{{course.slug}}">
          <div class="item-course {{course.color}}">
              <div class="icon-course"></div>
              <i class="{{course.icon}} icon-course-left"></i>
              <p class="content-course"> {{course.titile}}</p>
              <p class="link-course">www.ailearnenglish</p>
          </div>
        </a>
        <p class="footer-course">{{course.name}}</p>
          <i class="fas fa-users icon-users">
           <p class="member-course-home">{{course.member}} members</p>
          </i>
        </div>
      </div>
        {{/iffArray}}
        
      {{/each}}
      {{!-- <div class="col-sm-6 col-lg-4">
            <div class="layout-course layout-new-course mg-courses">
        <div class="item-course bg-color-pink">
            <div class="icon-course"></div>
            <i class="fas fa-dice-d20 icon-course-left"></i>
            <p class="content-course"> Speak with topic</p>
            <p class="link-course">www.ailearnenglish</p>
        </div>
        <p class="footer-course">Speaking with topic</p>
         <i class="fas fa-users icon-users">
           <p class="member-course-home">123.653 members</p>
          </i>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4">
        <div class="layout-course layout-news-course mg-courses">
           <div class="item-course bg-color-violet ">
                <div class="icon-course"></div>
                <i class="fab fa-old-republic icon-course-left"></i>
                <p class="content-course"> Speak with topic</p>
                <p class="link-course">www.ailearnenglish</p>
             </div>
                <p class="footer-course">Speaking with topic</p>
          <i class="fas fa-users icon-users">
           <p class="member-course-home">123.653 members</p>
          </i>
         </div>
      </div>

      <div class="col-sm-6 col-lg-4">
            <div class="layout-course layout-new-course mg-courses">
        <div class="item-course bg-color-blue">
            <div class="icon-course"></div>
            <i class="fab fa-jedi-order icon-course-left"></i>
            <p class="content-course"> Speak with topic</p>
            <p class="link-course">www.ailearnenglish</p>
        </div>
        <p class="footer-course">Speaking with topic</p>
         <i class="fas fa-users icon-users">
           <p class="member-course-home">123.653 members</p>
          </i>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4">
            <div class="layout-course layout-new-course mg-courses">
        <div class="item-course bg-color-origin">
            <div class="icon-course"></div>
            <i class="fab fa-old-republic icon-course-left"></i>
            <p class="content-course"> Speak with topic</p>
            <p class="link-course">www.ailearnenglish</p>
        </div>
        <p class="footer-course">Speaking with topic</p>
         <i class="fas fa-users icon-users">
           <p class="member-course-home">123.653 members</p>
          </i>
        </div>
      </div> --}}
  </div>
  
  </div>

  {{!-- End toiec course --}}

  {{!-- ILETS course --}}
<div class="course-home new-course-home  course-courses mgl-132">
  <div class="header-course-home header-new-course-home">
   <p class="name-course-home name-new-course-home">ILETS Course</p>
  </div>
  <div class="row">
       {{#each courses}}
        {{#iffArray this.type "ilets"}}
      <div class="col-sm-6 col-lg-4">
        <div class="layout-course layout-new-course mg-courses">
        <div class="item-course {{this.color}}">
            <div class="icon-course"></div>
            <i class="{{this.icon}} icon-course-left"></i>
            <p class="content-course"> {{this.titile}}</p>
            <p class="link-course">www.ailearnenglish</p>
        </div>
        <p class="footer-course">{{this.name}}</p>
          <i class="fas fa-users icon-users">
           <p class="member-course-home">{{this.member}} members</p>
          </i>
        </div>
      </div>
       {{/iffArray}}
      {{/each}}
      {{!-- <div class="col-sm-6 col-lg-4">
            <div class="layout-course layout-new-course mg-courses">
        <div class="item-course bg-color-pink">
            <div class="icon-course"></div>
            <i class="fas fa-dice-d20 icon-course-left"></i>
            <p class="content-course"> Speak with topic</p>
            <p class="link-course">www.ailearnenglish</p>
        </div>
        <p class="footer-course">Speaking with topic</p>
         <i class="fas fa-users icon-users">
           <p class="member-course-home">123.653 members</p>
          </i>
        </div>
      </div>

      <div class="col-sm-6 col-lg-4">
            <div class="layout-course layout-new-course mg-courses">
        <div class="item-course bg-color-blue">
            <div class="icon-course"></div>
            <i class="fab fa-jedi-order icon-course-left"></i>
            <p class="content-course"> Speak with topic</p>
            <p class="link-course">www.ailearnenglish</p>
        </div>
        <p class="footer-course">Speaking with topic</p>
         <i class="fas fa-users icon-users">
           <p class="member-course-home">123.653 members</p>
          </i>
        </div>
      </div> --}}

  </div>
  
  </div>

  {{!-- End ILETS --}}

  {{!-- footer --}}
<div class="container-footer">
    <div class="footer-content">
        <div class="first-items-footer">
            <a href="#" class="logo-footer">EnglishLearnEasy.com</a>  
            <p class="first-content-footer"> EnglishLearnEasy.com is an English teaching website with integrated UI to support reading English, making learning English lively and intuitive.</p>
            <div class="social-footer">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-youtube-square"></i>
                <i class="fab fa-instagram-square"></i>
            </div>
        </div>
        <div class="items-footer">
            <h3> Website Navigation</h3>
            <ul>
                <li><a href="#">Home Page</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Communications</a></li>
                <li><a href="#">Service</a></li>                      
            </ul>                          
        </div>

        <div class="items-footer">
            <h3>Legal</h3>
        <ul>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Cookie Policy</a></li>
            <li><a href="#">GDPR Compliance</a></li>
        </ul>
        </div>
        <div class="items-footer">
            <h3>Support</h3>
            <ul>
                <li><a href="#">Knowledge Base</a></li>
                <li><a href="#">Video Tutorials</a></li>
            </ul>
        </div>

    </div>
    <hr>
    <p class="end-footer">Copyright © 2020 by EnglishLearnEasy. All rights reserved.</p>
</div>

</div>

<script>
  document.getElementById("courses-js").style.color="#F18121";


</script>