<div class="sidebar-left ">
    <a href="/"><i class="fas fa-home icon-home"></i>Home</a>
    <a href="courses"><i class="fas fa-graduation-cap icon-learn"></i>Courses</a>
    <a href="news"><i class="fas fa-newspaper icon-news"></i>News</a>
    <a href="about"><i class="fas fa-info-circle icon-about"></i>About</a>
    
</div>

<div class="slider">
  <div class="slides">
    <!--radio buttons start-->
    <input type="radio" name="radio-btn" id="radio1">
    <input type="radio" name="radio-btn" id="radio2">
    <input type="radio" name="radio-btn" id="radio3">
    <input type="radio" name="radio-btn" id="radio4">
      <!--radio buttons end-->
      <!--slide images start-->
      <div class="slide first">
        <a href="news"><img src="http://localhost:3000/img/s1.png" alt="picture"></a>
      </div>
      <div class="slide">
        <a href="news"><img src="http://localhost:3000/img/s2.png" alt="picture"></a>
      </div>
      <div class="slide">
        <a href="news"><img src="http://localhost:3000/img/s4.png" alt="picture"></a>
      </div>
      <div class="slide">
        <a href="news"><img src="http://localhost:3000/img/s3.png" alt="picture"></a>
      </div>
        <!--slide images end-->
        <!--automatic navigation start-->
        <div class="navigation-auto">
          <div class="auto-btn1"></div>
          <div class="auto-btn2"></div>
          <div class="auto-btn3"></div>
          <div class="auto-btn4"></div>
        </div>
        <!--automatic navigation end-->
      </div>
      <!--manual navigation start-->
      <div class="navigation-manual">
        <label for="radio1" class="manual-btn"></label>
        <label for="radio2" class="manual-btn"></label>
        <label for="radio3" class="manual-btn"></label>
        <label for="radio4" class="manual-btn"></label>
      </div>
      <!--manual navigation end-->
  </div>
<!--image slider end-->

{{!-- Home conntent --}}
<div class="home-content">
{{!-- Slogan home --}}
<div class="slogan-home">
  <p class="name-slogan-home">Welcome to learn English with AI</p>
  <div class="content-slogan-home">Learn english speaking with assistant Luck, learn reading skill and writting skill easy . Study every day every where.You can find all English test: Toiec, IELTS, ... </div>
</div>


{{!-- Courses --}}
<div class="course-home">
  <div class="header-course-home">
   <p class="name-course-home">Course</p>
   <i class="fas fa-users icon-users">
     <p class="member-course-home">123.653 members</p>
   </i>
   
  </div>
  <div class="list-course-home">
    {{#each courses}}
    {{#if this.study}}
    <div class="layout-course">
      <div class="item-course {{this.color}} ">
        <div class="icon-course"></div>
        <i class="{{this.icon}} icon-course-left"></i>
        <p class="content-course"> {{this.titile}}</p>
        <p class="link-course">www.ailearnenglish</p>
      </div>
      <p class="footer-course">{{this.name}}</p>
    </div> 
    {{/if}}
    {{/each}} 
   {{!-- <div class="layout-course">
      <div class="item-course bg-color-pink">
        <div class="icon-course"></div>
        <i class="fas fa-dice-d20 icon-course-left"></i>
        <p class="content-course"> Speak with topic</p>
        <p class="link-course">www.ailearnenglish</p>
      </div>
       <p class="footer-course">Speaking with topic</p>
    </div> --}}
     
  </div>
  </div>
  
  {{!-- End course --}}

  {{!-- New courses --}}
  <div class="course-home new-course-home">
  <div class="header-course-home header-new-course-home">
   <p class="name-course-home name-new-course-home">New Course</p>
  </div>
  <div class="list-course-home list-new-course-home">
    {{#each courses}}
    <div class="layout-course layout-news-course">
      <div class="item-course {{this.color}} ">
        <div class="icon-course"></div>
        <i class="{{this.icon}} icon-course-left"></i>
        <p class="content-course"> {{this.titile}}</p>
        <p class="link-course">www.ailearnenglish</p>
      </div>
        <p class="footer-course">{{this.name}}</p>
        <i class="fas fa-users icon-users">
      <p class="member-course-home">{{this.member}} members</p>
    </i>
    </div>  
    {{/each}} 
     {{!-- <div class="layout-course layout-new-course">
      <div class="item-course bg-color-blue">
        <div class="icon-course"></div>
        <i class="fab fa-jedi-order icon-course-left"></i>
        <p class="content-course"> Speak with topic</p>
        <p class="link-course">www.ailearnenglish</p>
      </div>
       <p class="footer-course">Speaking with topic</p>
       <i class="fas fa-users icon-users">
         <p class="member-course-home">123.653 members</p>
       </i>
      </div>
   <div class="layout-course layout-new-course">
      <div class="item-course bg-color-pink">
        <div class="icon-course"></div>
        <i class="fas fa-dice-d20 icon-course-left"></i>
        <p class="content-course"> Speak with topic</p>
        <p class="link-course">www.ailearnenglish</p>
      </div>
       <p class="footer-course">Speaking with topic</p>
        <i class="fas fa-users icon-users">
        <p class="member-course-home">123.653 members</p>
      </i>
    </div>
     <div class="layout-course layout-new-course">
      <div class="item-course bg-color-origin">
        <div class="icon-course"></div>
        <i class="fab fa-galactic-senate icon-course-left"></i>
        <p class="content-course"> Speak with topic</p>
        <p class="link-course">www.ailearnenglish</p>
      </div>
       <p class="footer-course">Speaking with topic</p>
        <i class="fas fa-users icon-users">
        <p class="member-course-home">123.653 members</p>
      </i>
    </div> --}}
  </div>
  </div>

  {{!-- End course --}}

  {{!-- News --}}
  <div class="list-news-home">
    <p class="name-news-home name-course-home ">Bài viết nổi bật</p>
    <div class="layout-news">
     <div class="news-home">
       <a href="news"><img src="http://localhost:3000/img/news-1.png" alt="News" class="img-news-home">
      <p class="title-news-home">Công thức học thành công cho người mất gốc</p></a>
      <div class="content-news-home">Có một sự thật là, khi bạn đã có một chút nền tảng Tiếng Anh rồi thì tốc độ học của bạn sẽ tăng lên gấp bội. Đó như là ...</div>
    </div>

    <div class="news-home">
       <a href="news"><img src="http://localhost:3000/img/news-2.png" alt="News" class="img-news-home">
      <p class="title-news-home">Phương pháp tự học tiếng anh giao tiếp thành công</p></a>
      <div class="content-news-home">Bạn không có tiếng Anh, tất nhiên bạn vẫn có 1 công việc yêu thích. Nhưng bạn có tiếng Anh, cơ hội nghề nghiệp của bạn ...</div>
    </div>

    <div class="news-home">
      <a href="news"><img src="http://localhost:3000/img/news-3.png" alt="News" class="img-news-home">
      <p class="title-news-home">Tầm quan trọng của Tiếng Anh trong cuộc sống hiện đại</p></a>
      <div class="content-news-home">Học một ngoại ngữ đồng nghĩa với việc học thêm về một nền văn hóa. Nếu bạn là người ưa thích khám phá thế giới ...</div>
    </div>

    <div class="news-home">
       <a href="news"><img src="http://localhost:3000/img/news-4.png" alt="News" class="img-news-home">
      <p class="title-news-home">Học từ vựng tiếng Anh qua hình ảnh</p></a>
      <div class="content-news-home">Đã bao giờ bạn gặp phải trường hợp bản thân có rất nhiều ý tưởng, điều để nói nhưng lại không biết từ tiếng Anh để ...</div>
    </div>

    </div>
  </div>
</div>


{{!-- footer Home --}}


<div class="container-footer">
    <div class="footer-content">
        <div class="first-items-footer">
            <a href="#" class="logo-footer">EnglishLearnEasy.com</a>  
            <p class="first-content-footer"> EnglishLearnEasy.com is an English teaching website with integrated UI to support reading English, making learning English lively and intuitive.</p>
            <div class="social-footer">
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-youtube-square"></i>
                <i class="fab fa-instagram-square"></i>
            </div>
        </div>
        <div class="items-footer">
            <h3> Website Navigation</h3>
            <ul>
                <li><a href="#">Home Page</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Communications</a></li>
                <li><a href="#">Service</a></li>                      
            </ul>                          
        </div>

        <div class="items-footer">
            <h3>Legal</h3>
        <ul>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Cookie Policy</a></li>
            <li><a href="#">GDPR Compliance</a></li>
        </ul>
        </div>
        <div class="items-footer">
            <h3>Support</h3>
            <ul>
                <li><a href="#">Knowledge Base</a></li>
                <li><a href="#">Video Tutorials</a></li>
            </ul>
        </div>

    </div>
    <hr>
    <p class="end-footer">Copyright © 2020 by EnglishLearnEasy. All rights reserved.</p>
</div>



{{!--  --}}
<script type="text/javascript">
  var counter = 1;
  setInterval(function(){
    document.getElementById('radio' + counter).checked = true;
    counter++;
    if(counter > 4){
      counter = 1;
    }
  }, 5000);
</script>
<div class="courses-home">
    
</div>