    <div id="nav-banner"> 
        <div class="sidebar-left ">
            <a href="/"><i class="fas fa-home icon-home"></i>Home</a>
            <a href="courses"><i class="fas fa-graduation-cap icon-learn"></i>Courses</a>
            <a href="news"><i class="fas fa-newspaper icon-news"></i>News</a>
            <a href="about"><i class="fas fa-info-circle icon-about"></i>About</a>
        </div>
        <div>
            <div class="clear"></div>
        </div>
        <div class="content-banner">
            <h1>How to Use a Blog to Learn English</h1>
        </div>
    </div>
    <div id="content">
        {{!-- <img style="position:absolute; margin-top:-50px;margin-left: 500px" src="img/blog/bgr4.png" alt=""> --}}
        <div class="main-content">
            <div id="intro">
                <p class="highlight-news">Bạn đã bao giờ nghĩ về cách sử dụng blog để học tiếng Anh chưa? Chúng tôi đã mang đến cho bạn blog LearnEnglishEasy mỗi tuần trong suốt hai năm qua và chúng tôi rất vui (hạnh phúc) khi được làm như vậy.
                </p>
                <h2>Chính xác thì người ta sử dụng blog để học tiếng Anh như thế nào?</h2>
                <p class="highlight-news">Có lẽ bạn đã không nghĩ về nó, hoặc bạn là một người không chắc chắn rằng mình sẽ làm thế nào để sử dụng blog của LearnEnglishEasy một cách tốt nhất</p>
                <div class="img-main-content">
                    <img src="img/blog/bgr2.jpg" alt="">
                </div>
                <h2>Bạn không cần thiết phải có một giáo viên để làm điều đó?</h2>
                <p class="highlight-news">Rất tuyệt nếu bạn đang tìm kiếm cách tốt nhất và hiệu quả nhất để cải thiện tiếng Anh của mình trong thời gian ngắn, hãy sử dụng blog để giúp bạn học tiếng Anh miễn phí nếu bạn không vội vàng.</p>
                <div class="img-main-content">
                    <img src="img/blog/bgr3.jpg" alt="">
                </div>
            </div>
            <div id="contact">
                <h3>Liên hệ với chúng tôi</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3918.231171196193!2d106.80086541428768!3d10.870014160432852!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1641135757545!5m2!1svi!2s" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    <h4>Contact Us</h4>
                    <i class="fas fa-phone-square-alt fa-2x "></i> Phone: (012) 38 64 18<br>
                    <i class="fas fa-envelope fa-2x"></i> Gmail: learnenglisheasy@gmail.com<br>
                    <i class="fab fa-google fa-2x"></i> Website: learnenglisheasy.com

            </div> 
        </div>   
        <div>
            <div class="clear"></div>
        </div>     
        <img style="position:absolute; margin-top: -420px;margin-left: 800px" src="img/blog/bgr1.png" alt=""> 
    </div>
    <div class="blog-more">
        <div class="title"><h2>Bài viết liên quan</h2></div>
        <div class="list-blog">
            {{#each news}}
            <div class="post-blog half-width">
                <img src={{this.image}} alt="">
                <a href="/news/{{this.slug}}"><p class="title-blog"><b>{{this.name}}</b></p> </a>
                <p class="highlight-news">{{this.description}}</p>
                <a href="/news/{{this.slug}}" class="more">Xem thêm</a>
            </div>
            {{/each}}
        </div>
    </div>
   