<div id="nav-search"> 
    <div class="sidebar-left ">
        <button class="btn-leftbar-main"><a id="home-js" class="id-page-js"  href="/"><img src="http://localhost:3000/img/home.png"class="icon-home">Home</a></button>
        <button class="btn-leftbar-main"><a id="courses-js"class="id-page-js"  href="courses"><img src="http://localhost:3000/img/study.png"class="icon-learn">Courses</a></button>
        <button class="btn-leftbar-main"><a id="news-js"class="id-page-js"  href="news"><img src="http://localhost:3000/img/news.png"class="icon-news">News</a></button>
        <button class="btn-leftbar-main"><a id="about-js"class="id-page-js"  href="about"><img src="http://localhost:3000/img/information.png"class="icon-about">About</a></button>
    </div>
    <div>
        <div class="clear"></div>
    </div>
</div>

<div class="container-courses">
    <div class="course-home new-course-home  course-courses mgl-132">
        <div class="header-course-home header-new-course-home">
            <p style="padding-top: 20px;font-weight: 500;" class="name-course-home name-new-course-home">Kết quả tìm kiếm</p><hr>
        </div>
        <div class="row">
            {{#each search}}
            <div class="col-sm-6 col-lg-4">
                <div class="layout-course layout-new-course mg-courses">
                    <div class="item-course {{this.color}}">
                        <div class="icon-course"></div>
                        <i class="{{this.icon}} icon-course-left"></i>
                        <p class="content-course"> {{this.titile}}</p>
                        <p class="link-course">www.ailearnenglish</p>
                    </div>
                    <p class="footer-course">{{this.name}}</p>
                </div>
            </div>
            {{else}}
            <div style="width: 100%;text-align: center;font-size: 24px;">Không tìm thấy kết quả !!!</div>
            <img style="margin: 4px auto;" src="http://localhost:3000/img/page-404.png" alt="page 404">
            {{/each}}
        </div>
    </div>
</div>
      





